<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd		
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd	
		http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" >
		<!-- Restricción de URLs basada en roles -->
  		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
  		<intercept-url pattern="/index*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/logoutSuccess*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/resources/css/main.css" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />  		
  	<!-- <intercept-url pattern="/getListOffer*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
  		<intercept-url pattern="/**" access="ROLE_USER" /> 		
  		
  		 <!-- Utilizamos nuestra página de login y no la de Spring Security-->
  		 <form-login login-page='/views/usuario/login.jsp'/>
  		 <security:logout invalidate-session="true" logout-url="/index.jsp"/>
  		  <!-- <security:logout logout-url="/logout" logout-success-url="/logoutSuccess.html" /> -->
  		<!--         
        <security:form-login login-page="/login" 
                             login-processing-url="/loginProcess" 
                             default-target-url="/index.jsp" 
                             authentication-failure-url="/login.html?login_error=1" />
	
		<intercept-url pattern="/regiSter*" access="hasRole('Administrador')" />
		<intercept-url pattern="/clinte/**" access="hasRole('Cliente')" /> 
		-->

 		 
<!--     	<form-login login-page="/login" login-processing-url="/login" default-target-url="/index.jsp" />--> 
<!-- 		<logout invalidate-session="true" logout-url="/logout"/>-->

	</http>
	
	<authentication-manager>
	<authentication-provider>
 	  <jdbc-user-service data-source-ref="dataSource"
 
       users-by-username-query=" SELECT USERNAME, PASS, ENABLED
         FROM USER
         WHERE USERNAME=?;"
 
       authorities-by-username-query="
        SELECT USERNAME, PERFIL
        FROM USER WHERE USERNAME=?;" 
        />
         </authentication-provider>
	</authentication-manager>

<!-- <user-service>
		<user name="juan" password="1234" authorities="ROLE_USER" />
	</user-service>	
	</authentication-provider>
	</authentication-manager>
	-->
 
</beans:beans>