<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <title>Tienda online de Ofertas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/practica.css" th:href="@{/css/practica.css}"/>
</head>
 
<body>
 
<h2>Plantilla de Thymeleaf</h2>
 
<form action="#" th:object="${subscription}" th:action="@{/subscribeth}">
 
    <fieldset>
 
        <div>
            <label for="email" th:text="#{subscription.email}">Email: </label>
            <input type="text" th:field="*{email}" />
        </div>
        <div>
            <label th:text="#{subscription.type}">Type: </label>
            <ul>
                <li th:each="type : ${allTypes}">
                    <input type="radio" th:field="*{subscriptionType}" th:value="${type}" />
                    <label th:for="${#ids.prev('subscriptionType')}"
                           th:text="#{'subscriptionType.'+${type}}">First type</label>
                </li>
                <li th:remove="all"><input type="radio" /> <label>Second Type</label></li>
            </ul>
        </div>
 
        <div class="submit">
            <button type="submit" name="save" th:text="#{subscription.submit}">Subscribe me!</button>
        </div>
 
    </fieldset>
 
</form>
 
</body>
 
</html>